<div class="row">
    {{#each courses}}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title d-flex justify-content-between align-items-center">
                        {{course_id}} <a href="/courses/edit/{{_id}}"><i class="fas fa-edit"></i></a>
                    </h4>
                    <h4>{{subject}}</h2>
                    <h4>{{teacher_id}}</h4>
                    <form action="/courses/delete/{{_id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-danger btn-block btn-sm" type="submit">
                            Borrar
                        </button>
                    </form>
                    <button type="button" class="btn btn-primary btn-block btn-sm" data-toggle="modal" data-target="#addStudentModal">
                        Añadir alumno
                    </button>
                    <div class="modal fade" id="addStudentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Buscar estudiante por matricula</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <label class="sr-only" for="student_id">Matricula</label>
                                    <div class="input-group mb-2 mr-sm-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">a</div>
                                        </div>
                                        <input type="text" class="form-control" name="student_id" placeholder="Matricula">
                                    </div>
                                    <button class="btn btn-primary mb-2" onclick="findStudent()">Añadir</button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{else}}
        <div class="card mx-auto">
            <div class="card-body">
                <p class="lead">No hay ningun curso</p>
                <a href="/courses/add" class="btn btn-success btn-block">Crea uno</a>
            </div>
        </div>
    {{/each}}
</div>
<script>
    function findStudent()
{
    var student_id = document.getElementsByName("student_id");
    console.log(student_id);
}
</script>