{{> sidebar }}
<div class="row">
    <a href="/courses/add" class="btn btn-success btn-block">+</a>
    {{#each acts}}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title d-flex justify-content-between align-items-center">
                        {{activity_id}} <a href="/courses/edit/{{_id}}"><i class="fas fa-edit"></i></a>
                    </h4>
                    <h2>{{link}}</h2>
                    <h4>{{value}}</h2>
                    <h4>{{teacher_id}}</h4>
                    <div>
        <div> 
            <div> 
                {{!-- <img src="{{img.data}}:{{image}}/={{image}}.{{img}}.{{img.contentType}};base64, 
                     {{image}}.{{img}}.{{img.data}}.toString('base64')">  --}}
            </div> 
        </div> 
                    </div>
                        <a href="/courses/view/{{_id}}" class="btn btn-success btn-block">Ver detalle</a>
                    <form action="/courses/delete/{{_id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-danger btn-block btn-sm" type="submit">
                            Borrar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    {{else}}
        <div class="card mx-auto">
            <div class="card-body">
                <p class="lead">No hay tareas para este curso</p>
                <a href="/courses/add" class="btn btn-success btn-block">Crea una</a>
            </div>
        </div>
    {{/each}}
</div>

