<div class="jumbotron-mt-4">
    <h1 class="display-4">Proyecto Final</h1>
    {{#if user}}
        {{#if user.level}}
            <p class="lead">Bienvenido, maestro {{user.name}} {{user.last_name}}</p>
        {{else}}
            <p class="lead">Bienvenido, estudiante {{user.name}} {{user.last_name}}</p>
        {{/if}}
    {{else}}
        <p class="lead">Bienvenido</p>
    {{/if}}
    <hr class="my-4">
    <p>Salon digital que permite la interaccion profesor-alumno. Has click al boton para registrarte!</p>
    <a href=""></a>
</div>