
<link rel="stylesheet" href="/css/teachers.css">

    {{#each courses}}
            <div class="blog-card">
                          <div class="meta">
              <div class="photo" style="background-image: url(img/crs.png)"></div>
          </div>
                <div class="description">
                    <h1>{{subject}}</h1>
                    <h2>ID del curso: {{course_id}}
                    </h2>
                    
                    <p>Curso impartido por {{teacher_id}}</p>
                    <p class="read-more">
                    <a href="/student/view/{{_id}}">Ver actividades</a>

                    </p>
                </div>
            </div>
    {{else}}
        <div class="card mx-auto">
            <div class="card-body">
                <p class="lead">No hay ningún curso</p>
            </div>
        </div>
    {{/each}}
