{{> footer }}
<div class="row">
    {{#each courses}}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title d-flex justify-content-between align-items-center">
                        {{course_id}}
                    </h2>
                    <h2>{{subject}}</h2>
                    <h4>{{teacher_id}}</h4>
                    <a href="/student/view/{{_id}}" class="btn btn-success btn-block">Ver detalle</a>
                </div>
            </div>
        </div>
    {{else}}
        <div class="card mx-auto">
            <div class="card-body">
                <p class="lead">No hay ningún curso</p>
            </div>
        </div>
    {{/each}}
</div>
